<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
 <%- include('head')%>
 <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
 <script src="https://use.typekit.net/kac8cip.js"></script>
<script>try{Typekit.load({ async: false });}catch(e){}</script>
<style type="text/css">
  h1, h2, h3, h4, h5, h6 {
    font-family: 'europa';
}
p, div {
    font-family: 'europa';
}
</style>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <small>Name: <strong>Deepak Agrawal</strong></small>
        <p class="lead"><i class='fa fa-mars pr-2'></i> / 32 yrs /  <i class='fa fa-phone px-1'></i> 4122684272 </p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <p class="col-6">Height</p>
          <p class="col-3">192</p>
          <p class="col-3">cms</p>
        </div>
        <div class="row">
          <p class="col-6">Weight</p>
          <p class="col-3">65.4</p>
          <p class="col-3">kgs</p>
        </div>
        <div class="row">
          <p class="col-6">BMI</p>
          <p class="col-6">1.9</p>
        </div>
        <div class="row">
          <p class="col-6">Allergies</p>
          <p class="col-6">-</p>
        </div>
        <div class="row">
          <p class="col-6">Alternate phone number</p>
          <p class="col-6">50530</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>