<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
 <%- include('head')%>
 <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
 <script src="https://use.typekit.net/kac8cip.js"></script>
 <script>try{Typekit.load({ async: false });}catch(e){}</script>
 <style type="text/css">
  h1, h2, h3, h4, h5, h6 {
    font-family: 'europa';
  }
  p, div {
    font-family: 'europa';
    /*font-size: 0.75rem;*/
  }
</style>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-7 offset-5">
        <div class="row">
          <div class="col-4"><strong>Name</strong></div>
          <div class="col-6">Deepak Agarwal</div>
          <div class="col-2 text-muted"><span class="pull-right">24/07/2011</span></div>
        </div>
        <div class="row">
          <div class="col-4"><strong>Patient ID</strong></div>
          <div class="col-8">1002</div>
        </div>
        <div class="row">
          <div class="col-4"><strong>Age</strong></div>
          <div class="col-8">24 yrs</div>
        </div>
        <div class="row">
          <div class="col-4"><strong>Sex</strong></div>
          <div class="col-8">Male</div>
        </div>
        <div class="row py-4">
          <strong class="col-4">Diagnosis</strong>
          <text class="col-8">something something someintg</text>
        </div>
        <div class="row py-4">
          <strong class="col-4">Chief Complaints</strong>
          <div class="col-8">
            <div class="col-12 pl-0">somehting sitnsdsklfjsdflkjd</div>
            <div class="col-12 pl-0">somehting sitnsdsklfjsdflkjd</div>
            <div class="col-12 pl-0">somehting sitnsdsklfjsdflkjd</div>
            <div class="col-12 pl-0">somehting sitnsdsklfjsdflkjd</div>
          </div>
        </div>
        <div class="row py-4">
          <strong class="col-4">On Examination</strong>
          <div class="col-sm-4">Etiam porta sem malesuada magna mollis euismod.</div>
          <div class="col-sm-4">
            <div class="row">
              <strong class="col-6">Pulse:</strong>
              <span class="col-6 pull-right">103</span>
            </div>
            <div class="row">
              <strong class="col-6">BP:</strong>
              <span class="col-6 pull-right">103</span>
            </div>
            <div class="row">
              <strong class="col-6">Temp:</strong>
              <span class="col-6 pull-right">103</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card-deck">
      <div class="card">
        <div class="card-block">
          <strong class="card-title">Investigations Required</strong>
          <ul class="pl-3 pt-3">
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
          </ul>
        </div>
        
      </div>
      <div class="card">
        <div class="card-block">
          <strong class="card-title">Medical Advice</strong>
          <ul class="pl-3 pt-3">
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
          </ul>
        </div>
      </div>
      
      <div class="col-4">
        <div class="row py-2">
          <strong class="col-12">Dietary Advice</strong>
          <span class="col-12">lskdjflskfj</span>
        </div>
        <div class="row py-2">
          <strong class="col-12">Other Advice</strong>
          <span class="col-12">lskdjflskfj</span>
        </div>
      </div>
    </div>
    
  </div>
</body>

</html>