<!-- views/404.ejs -->

<!DOCTYPE html>
<html>

<head>
 <%- include('partials/head')%>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar') %>
    <%- include('partials/header')%>
    <div class="jumbotron">
      <h1 class="display-3">404</h1>
      <p class="lead">OOPS! Page isn't here yet.</p>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>

</html>