<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
 <%- include('partials/head')%>
 <script type="text/javascript">
 $(document).ready(function() {
  $('.input-no-enter').keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      $('.input-no-enter').blur()
      return false;
    }
  });
  $('#inputDateOfBirth').datepicker({
    format: {
        toDisplay: function (date, format, language) {
          $('#dateOfBirth').val(date)
          return date.toISOString().replace( /(\d{4})-(\d{2})-(\d{2}).*/, "$3/$2/$1")
        },
        toValue: function (date, format, language) {
           return new Date(date.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$3-$2-$1"))
        }
    }
  })
});
 </script>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar') %>
    <%- include('partials/header')%>
    <div >
      <h1 class="display-3">Add Patient</h1>

      <small >Fields marked with <text class="asterisk">*</text> are required</small>
      <hr class="my-4">
      <form action="/addPatient" method="post">

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" class="form-control input-no-enter" required="true" name="name">
          </div>
          <small class="text-muted form-text">Full Name <text class="asterisk">*</text></small>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-transgender fa-fw"></i></span>
            <select class="form-control" id="exampleSelect1" name="sex">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
          <small class="text-muted form-text">Sex</small>
        </div>
        <div class="form-group">
           <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
              <input class="form-control" type="number" name="age" id="age">
              <span class="input-group-addon">years</span>
            </div>
          <small class="text-muted form-text">Age</small>

          <!-- <div class="input-group"> -->
            <!-- <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span> -->
            <!-- <input class="form-control" id="inputDateOfBirth" name="dateOfBirthDisplay" data-date-start-view=2> -->
            <!-- need hidden input for format conversion -->
            <!-- <input type="hidden" name="dateOfBirth" id="dateOfBirth"> -->
            <!-- <input class="form-control" type="date" name="dateOfBirth" id="inputDateOfBirth"> -->
          <!-- </div> -->
          <!-- <small class="text-muted form-text">Date of Birth</small> -->
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
            <input class="form-control input-no-enter" type="tel" name="phone1">
          </div>
          <small class="text-muted form-text">Phone number</small>
        </div>
        <p>
          <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Show advanced
          </a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
              <input class="form-control" type="tel" name="phone2" id="inputPhone2">
            </div>
            <small class="text-muted form-text">Alternate phone</small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-male fa-fw"></i></span>
              <input class="form-control" type="number" step="any" name="height" id="inputHeight">
              <span class="input-group-addon">cm</span>
            </div>
            <small class="text-muted form-text">Height</small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-balance-scale fa-fw"></i></span>
              <input class="form-control" type="number" step="any" name="weight" id="inputWeight">
              <span class="input-group-addon">kg</span>
            </div>
            <small class="text-muted form-text">Weight</small>
          </div>
          <div class="form-group">
            <input class="form-control" type="number" step="any" name="bmi" id="inputBmi">
            <small class="text-muted form-text">BMI</small>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows=3 name="allergies"></textarea>
            <small class="text-muted form-text">Allergies</small>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit and Add Visit</button>
      </form>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>

</html>