<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
 <%- include('partials/head')%>
 <script type="text/javascript">
 $(document).ready(function() {
  $('.input-no-enter').keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      $('.input-no-enter').blur()
      return false;
    }
  });
});
 </script>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar') %>
    <%- include('partials/header')%>
    <div >
      <h1 class="display-3">Add Patient</h1>

      <small >Fields marked with <text class="asterisk">*</text> are required</small>
      <hr class="my-4">
      <form action="/addPatient" method="post">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon fa fa-user"></span>
            <input type="text" class="form-control input-no-enter" required="true" name="name">
          </div>
          <small class="text-muted form-text">Full Name <text class="asterisk">*</text></small>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon fa fa-transgender"></span>
            <select class="form-control" id="exampleSelect1" name="sex">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
          <small class="text-muted form-text">Sex</small>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon fa fa-calendar"></span>
            <input class="form-control" type="date" name="dateOfBirth" id="inputDateOfBirth">
          </div>
          <small class="text-muted form-text">Date of Birth</small>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon fa fa-phone"></span>
            <input class="form-control input-no-enter" type="tel" name="phone1">
          </div>
          <small class="text-muted form-text">Phone number</small>
        </div>
        <p>
          <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Show advanced
          </a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon fa fa-phone"></span>
              <input class="form-control" type="tel" name="phone2" id="inputPhone2">
            </div>
            <small class="text-muted form-text">Alternate phone</small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon fa fa-male"></span>
              <input class="form-control" type="number" step="any" name="height" id="inputHeight">
              <span class="input-group-addon">cm</span>
            </div>
            <small class="text-muted form-text">Height</small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon fa fa-balance-scale"></span>
              <input class="form-control" type="number" step="any" name="weight" id="inputWeight">
              <span class="input-group-addon">kg</span>
            </div>
            <small class="text-muted form-text">Weight</small>
          </div>
          <div class="form-group">
            <input class="form-control" type="number" step="any" name="bmi" id="inputBmi">
            <small class="text-muted form-text">BMI</small>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows=3 name="allergies"></textarea>
            <small class="text-muted form-text">Allergies</small>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit and Add Visit</button>
      </form>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>

</html>