<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
   <%- include('partials/head')%>
</head>

<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <%- include('partials/header')%>
        <div >
        <h1 class="display-3">Add Patient</h1>
        
        <small >Fields marked with <text class="asterisk">*</text> are required</small>
        <hr class="my-4">
        <form action="/addPatient" method="post">
          <div class="form-group row required">
            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputFirstName" required="true" name="firstName" >
            </div>
          </div>
          <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputLastName" name="lastName" >
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDateOfBirth" class="col-sm-2 col-form-label">Date of birth</label>
            <div class="col-sm-10">
              <input class="form-control" type="date" name="dateOfBirth" id="inputDateOfBirth">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleSelect1" class="col-sm-2 col-form-label">Sex</label>
            <div class="col-sm-10">
              <select class="form-control" id="exampleSelect1" name="sex">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-tel-input" class="col-sm-2 col-form-label">Phone 1</label>
            <div class="col-sm-10">
              <input class="form-control" type="tel" id="example-tel-input" name="phone1">
            </div>
          </div>
           <div class="form-group row">
            <label for="example-tel-input2" class="col-sm-2 col-form-label">Phone 2</label>
            <div class="col-sm-10">
              <input class="form-control" type="tel" id="example-tel-input2" name="phone2">
            </div>
          </div>
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Link with href
            </a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-block">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>

</html>