<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
 <%- include('partials/head')%>
 <script type="text/javascript">
   $(function() {
    // Remove button click
    $(document).on(
      'click',
      '[data-role="dynamic-fields"] > .form-inline-special [data-role="remove"]',
      function(e) {
        e.preventDefault();
        $(this).closest('.form-inline-special').remove();
      }
      );
    // Add button click
    $(document).on(
      'click',
      '[data-role="dynamic-fields"] > .form-inline-special [data-role="add"]',
      function(e) {
        e.preventDefault();
        var container = $(this).closest('[data-role="dynamic-fields"]');
        new_field_group = container.children().filter('.form-inline-special:first-child').clone();
        new_field_group.find('input').each(function(){
          $(this).val('');
        });
        container.append(new_field_group);
      }
      );
  });

</script>
<style type="text/css">

  [data-role="dynamic-fields"] > .form-inline-special + .form-inline-special {
    margin-top: 0.5em;
  }

  [data-role="dynamic-fields"] > .form-inline-special [data-role="add"] {
    display: none;
  }

  [data-role="dynamic-fields"] > .form-inline-special:last-child [data-role="add"] {
    display: inline;
  }

  [data-role="dynamic-fields"] > .form-inline-special:last-child [data-role="remove"] {
    display: none;
  } 
</style>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar') %>
    <%- include('partials/header')%>
    <h1 class="display-3">Add Visit</h1>
    <small >Fields marked with <text class="asterisk">*</text> are required</small>
    <hr class="my-4">
    <form action="/addVisit" method="post">
      <div class="form-group row required">
        <label for="diagnosis" class="col-form-label col-md-2">Diagnosis</label><br />
        <div class="col-md-10">
          <textarea name="diagnosis" id="diagnosis" required="true" rows=3 cols=70 class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label">Chief Complaints</label>
        <div class="col-md-10">
          <div data-role="dynamic-fields">
            <div class="form-inline-special">
              <div class="form-group row">
                <div class="col pr-0 pr-md-3">
                  <input type="text" class="form-control" id="inputChiefComplaintsText" name="chiefComplaintsText[]" placeholder="Complaint">
                </div>
                <div class="col-2 pr-0 pr-md-3">
                  <input type="number" class="form-control" id="inputChiefComplaintsDurationNumber" name="chiefComplaintsDurationNumber[]">
                </div>
                <div class="col-3 col-md-2 pr-0 pr-md-3">
                  <select class="form-control" id="inputChiefComplaintsDurationType" name="chiefComplaintsDurationType[]">
                    <option>days</option>
                    <option>weeks</option>
                    <option>months</option>
                    <option>years</option>
                  </select>
                </div>
                <div class="col-2 col-auto pl-3 pl-md-0">
                  <button class="btn btn-danger pull-right" data-role="remove">
                    <i class="fa fa-minus"></i>
                  </button>
                  <button class="btn btn-primary pull-right" data-role="add">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>  <!-- /div.form-inline -->
          </div>  <!-- /div[data-role="dynamic-fields"] -->
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2">On Examination</label>
        <div class="col-md-10">
          <div class="row">
            <div class="col-5 col-md-6"> <!-- col for pulse, bp, temp-->
              <div class="row form-group"> <!-- pulse -->
                <label class="col-6 col-form-label">Pulse</label>
                <div class="col-6 pr-0 pr-md-3">
                  <input class="form-control" type="number" name="onExaminationPulse">
                </div>
              </div>
              <div class="row form-group"> <!-- bp -->
                <label class="col-6 col-form-label">BP</label>
                <div class="col-6 pr-0 pr-md-3">
                  <input class="form-control" type="number" name="onExaminationBp">
                </div>
              </div>
              <div class="row form-group"> <!-- temp -->
                <label class="col-6 col-form-label">Temp.</label>
                <div class="col-6 pr-0 pr-md-3">
                  <input class="form-control" type="number" name="onExaminationTemp">
                </div>
              </div>
            </div>
            <div class="col-7 col-md-6 pr-md-3 mb-3"> <!-- col for notes -->
              <textarea name="onExaminationNotes" class="form-control" placeholder="Notes" rows="6"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-md-2 col-md-10">
          <button type="submit" class="btn btn-primary">Create Prescription </button>
        </div>
      </div>
    </form>
    <%- include('partials/footer') %>
  </div>
</body>

</html>