<!-- views/post.ejs -->

<!DOCTYPE html>
<html>

<head>
<%- include('partials/head')%>
  
</head>

<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <div>
            <h2>POST_TITLE</h2>
            <p>by <a href="#">POST_AUTHOR</a></p>

            <p>POST_CONTENT</p>
            <hr>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>

</html>