<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
 <%- include('../partials/head')%>
</head>
<script type="x-handlebars-template"></script>
<script type="text/javascript">
var drugbank = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // prefetch: 'https://api.drugbankplus.com/v1/us/drug_names?q=tylenol',
  remote: {
    url: '/experiments/drugbank/products?q=%QUERY',
    wildcard: '%QUERY'
  }
});

var onemg =  new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // prefetch: 'https://api.drugbankplus.com/v1/us/drug_names?q=tylenol',
  remote: {
    url: '/experiments/1mg/products?q=%QUERY',
    wildcard: '%QUERY'
  }
});


$(() => {
  $("#drugbank").typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'states',
        display: 'name',
        source: drugbank,
        // templates: {
        //   suggestion: Handlebars.compile($('#testsTypeaheadTemplate').html())
        // }
      })
   $("#1mg").typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'states',
        display: 'pName',
        source: onemg,
        // templates: {
        //   suggestion: Handlebars.compile($('#testsTypeaheadTemplate').html())
        // }
      })
  
})
</script>
 <script>var emojis = {}
/**
  * @callback GitHubEmojiAPICallback
  * @param {Object} resp
  * @prop {Object} resp.meta
  * @prop {Object} resp.data
  * @see https://developer.github.com/v3/emojis/
  * @example
  * callback({
  *   "meta": {
  *     "Content-Type": "application/javascript; charset=utf-8",
  *     ...
  *   },
  *   "data": {
  *     "+1": "https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png?v5",
  *     ...
  *   }
  * })
  */
var GitHubEmojiAPICallback = function(resp) {
  window.emojis = resp.data;
};</script><script src="https://api.github.com/emojis?callback=GitHubEmojiAPICallback"></script>
  <!-- using textcomplete -->
  <script src="/js/textcomplete.min.js"></script>
  <script type="text/javascript">
  $(function() {
      // Shared strategy for all demos.
      window.emojiStrategy = {
        id: 'emoji',
        match: /(^|\s):([a-z0-9+\-\_]*)$/,
        search: function (term, callback) {
          callback(Object.keys(emojis).filter(function (name) {
            return name.startsWith(term);
          }));
        },
        template: function (name) {
          return '<img src="' + emojis[name] + '"></img> ' + name;
        },
        replace: function (name) {
          return '$1:' + name + ': ';
        }
      };


      var editor = new Textcomplete.editors.Textarea(document.getElementById('textarea1'));
      var textcomplete = new Textcomplete(editor);
      textcomplete.register([emojiStrategy]);
  })
  </script>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Welcome</h1>
      <p class="lead">This is the homepage</p>
      <input type="text" id="drugbank" class="form-control">
      <input type="text" id="1mg" class="form-control">
      <input type="textarea" id="textarea1">
    </div>
  </div>
</body>

</html>