<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
 <%- include('../partials/head')%>
 
 <!-- tagsinput -->
 <link rel="stylesheet" type="text/css" href="/css/tagsinput.css">
 <script src="/js/tagsinput.js"></script>
 <script type="text/javascript">
  var data = ["Amsterdam",
  "London",
  "Paris",
  "Washington",
  "New York",
  "New Jersey",
  "New Orleans",
  "Los Angeles",
  "Sydney",
  "Melbourne",
  "Canberra",
  "Beijing",
  "New Delhi",
  "Kathmandu",
  "Cairo",
  "Cape Town",
  "Kinshasa"];
  var citynames = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      // prefetch: 'https://api.drugbankplus.com/v1/us/drug_names?q=tylenol',
      remote: {
        url: '/autocomplete/medicineAdvice/drug?q=%QUERY',
        wildcard: '%QUERY'
      }
    });
  citynames.initialize();
  $("#category").ready(function () {
      myObject = $("#category").tagsinput({
      typeaheadjs: [{
        hint: true,
        highlight: true,
        minLength: 2,
        valueKey: 'pName'
      },
      { 
        name: 'drugs',
        display: 'pName',
        source: citynames.ttAdapter(),
        limit: 10,
      }],
      freeInput: true
    })
    myObject[0].$input.on('typeahead:asyncrequest', function() {
      console.log("show")
        $('.category-container .Typeahead-spinner').show();
      })
      .on('typeahead:asynccancel typeahead:asyncreceive', function() {
        console.log("hide")
        $('.category-container .Typeahead-spinner').hide();
      });


  });

  // $(document).on('typeahead:asyncrequest', function(e) {
  //   console.log(e)
  //   console.log('async req sent');
  // })

  // $('.category-container > > input').tagsinput({
  //   typeaheadjs: [{
  //     minLength: 1,
  //     highlight: true,
  //   },{
  //     minlength: 1,
  //     name: 'citynames',
  //     displayKey: 'name',
  //     valueKey: 'name',
  //     source: citynames.ttAdapter()
  //   }],
  //   freeInput: true
  // });
</script>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Welcome</h1>
      <p class="lead">This is the homepage</p>
      <div class="category-container" style="position: relative">
        <input type="text" id="category" />
         <img class="Typeahead-spinner" src="/img/ellipsis.svg" style="display: inline; display: none; position: absolute; bottom: 3px; right: 7px; width: 28px; height: 28px">
      </div>
    </div>
  </div>
</body>

</html>